@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primary-text-color);
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background: #ffffff;
  --background-hero: #c4c4c4;
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
  --footer-color-contacts: rgba(255, 255, 255, 0.6);
  --background-color-btn: #f5f4fa;
  --background-grey-new: #afb1b8;
}

.site-body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--primary-text-color);
}

.point-none {
  list-style: none;
}

.underline-none {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
.logo-half {
  color: var(--accent-color);
}

.logo--color-white {
  color: var(--white-color);
}

.logo--color-black {
  color: var(--black-color);
  margin-right: 93px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header-mail, .header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover, .header-mail:focus, .header-phone:hover, .header-phone:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header-container {
    position: relative;
    justify-content: space-between;
    padding: 16px 15px;
    align-items: baseline;
  }
}

.header-studio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-studio-link:hover, .header-studio-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header-pages-list {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 768px) {
  .header-pages-list {
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: inline-block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    gap: 30px;
  }
}

.header-contacts-list {
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .header-contacts-list {
    display: flex;
    vertical-align: middle;
  }
}

.header-mail {
  width: inherit;
}
@media screen and (min-width: 768px) {
  .header-mail {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-mail {
    margin-bottom: 0px;
  }
}

.phone-icon {
  display: block;
  fill: currentColor;
}
@media screen and (max-width: 1200px) {
  .phone-icon {
    width: 10px;
    height: 14px;
  }
}

.post-icon {
  display: block;
  fill: currentColor;
}
@media screen and (max-width: 1200px) {
  .post-icon {
    width: 14px;
    height: 10px;
  }
}

.header-list-pages {
  position: relative;
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-header-button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    border-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .mobile-header-button {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-header-icon {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.hero {
  background-color: var(--background-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.bg-hero {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-480-1x.jpg);
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-480-2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768-1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-768-2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-1600-1x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-1600-2x.jpg);
    background-size: cover;
  }
}

.hero-title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover, .hero-button:focus {
  cursor: pointer;
  background-color: #188ce8;
}
@media screen and (max-width: 767px) {
  .hero-button {
    min-width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .hero-button {
    min-width: 216px;
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 767px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.skills {
  width: 100%;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .skills {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.skills__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .skills__item {
    width: calc((100% - 30px) / 2);
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__item {
    width: calc((100% - 90px) / 4);
    margin: 0px;
  }
}
@media screen and (max-width: 767px) {
  .skills__item {
    margin-bottom: 30px;
  }
}

.skills__title {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .skills__title {
    text-align: center;
  }
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #b9b1b1;
  background: var(--background-color-btn);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
}

.skills__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  height: 72px;
}

.specialization {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .specialization {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.specialization-list {
  display: flex;
  margin: 0;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .specialization-item {
    width: calc((100% - 60px) / 3);
    height: auto;
    margin: 0px;
  }
}

.specialization-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .specialization-title {
    margin-bottom: 50px;
  }
}

.specialization-box {
  position: relative;
}

.specialization-description {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--background-color-btn);
  padding-bottom: 60px;
}
.team__title {
  color: var(--secondary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
}

.specialists {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .specialists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.specialists__member {
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .specialists__member:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .specialists__member {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specialists__member {
    width: calc((100% - 90px) / 4);
  }
}

.specialist__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--background);
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.specialist-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-bottom: 16px;
}

.networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.networks__item {
  width: 44px;
  height: 44px;
  display: block;
}

.networks__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-grey-new);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.networks__icon {
  fill: currentColor;
}

.clients {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    margin-bottom: 94px;
  }
}

.clients__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .clients__title {
    font-size: 28px;
  }
}

.partners {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.partners__logo {
  width: calc((100% - 30px) / 2);
  margin: 0px;
}
@media screen and (min-width: 480px) {
  .partners__logo {
    width: calc((100% - 30px) / 2);
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  .partners__logo {
    width: calc((100% - 60px) / 3);
    margin: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .partners__logo {
    width: calc((100% - 150px) / 6);
    margin: 0px;
  }
}

.partners__icon {
  margin: 16px 32px;
  min-width: 106px;
}

.partners__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--background-grey-new);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners__link:hover, .partners__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.partners__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--background-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer-main-contats {
  text-align: center;
  margin-bottom: 60px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .footer-main-contats {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-main-contats {
    width: calc((100% - 165px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .footer-main-contats {
    text-align: left;
    max-width: 231px;
  }
}

.footer-social-link {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer-social-link {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-social-link {
    width: calc((100% - 165px) / 2);
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-link {
    width: 100%;
    max-width: 206px;
    margin: 0;
    text-align: left;
  }
}

.contacts-item-adress:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-adress {
  margin-top: 20px;
}

.footer-adress {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:hover, .footer-adress:focus {
  color: var(--accent-color);
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-contacts);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-phone:hover, .footer-phone:focus {
  color: var(--accent-color);
}

.sm-title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-social-item {
  min-width: 44px;
  min-height: 44px;
  display: block;
}

.footer-social-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon:hover, .footer-social-icon:focus {
  background-color: var(--accent-color);
}

.company-sm-icon {
  fill: currentColor;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

.footer-email-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .footer-email-input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.subscribe_block {
  display: flex;
  position: relative;
}

.subscribe-button {
  display: inline-flex;
  width: 200px;
  background-color: var(--accent-color);
  color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  align-items: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:focus, .subscribe-button:hover {
  background-color: #188ce8;
}

.subscribe-button-name {
  margin-right: 10px;
}

.subscribe-button-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe-button-title {
    text-align: left;
  }
}

.subscribe-icon {
  fill: var(--background);
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0%;
  position: fixed;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  background-color: var(--background);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border-color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.input-area {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-comments-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments-input .modal-comments-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-button {
  display: block;
  width: 200px;
  /* height: 50px; */
  background-color: var(--accent-color);
  color: var(--background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  text-align: center;
  padding: 10px 52px;
  justify-content: center;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus, .modal-button:hover {
  background-color: #188ce8;
}

.modal-field-check {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .confirm-label {
    font-size: 12px;
  }
}

.confirm-input {
  margin-left: 20px;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.modal-check-part-flag {
  fill: transparent;
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.confirm-input:checked ~ .modal-check-part-flag {
  fill: var(--white-color);
}

.modal-check-part-squre {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.confirm-input:checked + .modal-check-part-squre {
  background-color: var(--accent-color);
  fill: transparent;
}

.modal-comments-input {
  display: block;
  resize: none;
}
.modal-comments-input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comments-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comments-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.terms-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 5px;
}
@media screen and (max-width: 767px) {
  .terms-agreement {
    font-size: 12px;
  }
}

.portfolio-btn {
  background-color: var(--background-color-btn);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  border-color: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-item-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* .portfolio-examples-item:not(:nth-child(3n)) {
  margin-right: 30px; 
} альтернативный вариант*/
.portfolio-examples-item {
  flex-basis: calc((100% - 60px) / 3);
  background: var(--background);
}

.portfolio-example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.portfolio-example-product {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-box {
  display: flex;
  position: relative;
  overflow: hidden;
}

.appearing-text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.portfolio-link:hover .appearing-text {
  transform: translateY(0);
}
.portfolio-link:focus .appearing-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */