.advantages {
  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.skills {
  width: 100%;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.skills__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
    margin: 0px;
  }
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
// .skills__item:ntn-child(2n) {
//   @media screen and (min-width: 768px) {
//     margin-right: -30px;
//   }
// }
.skills__title {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #b9b1b1;
  background: var(--background-color-btn);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
}

.skills__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  height: 72px;
}
