// -----Мобильное меню-----//

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;

  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.mob-menu-close {
  width: 40px;
  height: 40px;
  background: var(--background);
  border: transparent;
  display: flex;
  fill: var(--primary-text-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu-list-pages {
  margin-top: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mob-menu-list-pages:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu-contacts-list {
  margin-bottom: 32px;
}
.mob-menu-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-menu-social {
  display: flex;
  gap: 20px;
  margin-top: 64px;
  flex-wrap: wrap;
}

.mob-menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mob-menu-social-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-bottom {
  margin-top: 60px;
}
